<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <title>FlipInClassIA - Index</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/indexStaticFile/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/indexStaticFile/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="../static/indexStaticFile/assets/css/animated.css">
    <link rel="stylesheet" href="../static/indexStaticFile/assets/css/owl.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="../static/indexStaticFile/assets/images/logo.png" alt="FlipInClassIA">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#services">Servizi</a></li>
                        <li class="scroll-to-section"><a href="#about">Chi siamo</a></li>
                        <li>
                            <div class="gradient-button"><a id="modal_trigger" href="/login"><i
                                    class="fa fa-sign-in-alt"></i> Login</a></div>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->


<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                             data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>Finalmente un tool per la Flipped-Classroom</h2>
                                    <p>
                                        FlipInClassIA è un tool di supporto per docenti e studenti che
                                        sperimentano la Flipped-Classroom, esso ti aiuterà tramite la sua
                                        tecnologia basata sull'IA nella fase "In-Class" delle tue lezioni.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <img src="../static/indexStaticFile/assets/images/slider-dec.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4>Sorprendenti <em>Servizi &amp; Funzionalità</em> per te e i tuoi studenti</h4>
                    <img src="../static/indexStaticFile/assets/images/heading-line-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="service-item first-service">
                    <div class="icon"></div>
                    <h4>Gestione Totale</h4>
                    <p>Sarai comunque tu docente ad avere l'intero controllo della lezione.<br><br><br><br></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item third-service">
                    <div class="icon"></div>
                    <h4>IA Applicata</h4>
                    <p>Lascia che sia il nostro modulo di Intelligenza Artificiale a creare per te un
                        questionario, non valutativo, per comprendere lo stato dell'apprendimento dei tuoi studenti.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item fourth-service">
                    <div class="icon"></div>
                    <h4>Supporto Totale</h4>
                    <p>Il nostro tool potrà, se vorrai, aiutarti a gestire il dibattito della tua tua lezione suggerendo
                        gli argomenti.<br><br><br></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-item second-service">
                    <div class="icon"></div>
                    <h4>Statistiche Aggiornate</h4>
                    <p>Il tool ti offrirà sempre statistiche aggiornate relative all'apprendimento e allo stato delle
                        tue lezioni aggiornate in tempo reale.<br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="about-us section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h4><em>Chi siamo</em> &amp; Cosa facciamo</h4>
                    <img src="../static/indexStaticFile/assets/images/heading-line-dec.png" alt="">
                    <p>La nostra missione è aiutare docenti e studenti a migliorare l'apprendimento tramite la
                        Flipped-Classroom e le tecnologie AI. Siamo qui per rendere ogni lezione un
                        successo.</p>
                </div>

                <!-- Inizio del riquadro Autore -->
                <div class="ceo-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"
                     style="border: 1px solid #ddd; padding: 20px; margin-top: 20px; background-color: #f9f9f9; border-radius: 10px;">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="../static/indexStaticFile/assets/images/client-image.jpg" alt="Author"
                                 style="width: 100%; border-radius: 50%;">
                        </div>
                        <div class="col-lg-8">
                            <h5>Antonio DG</h5>
                            <p>"Il progetto "FlipInClassIA" nasce a seguito della mia passione per l'insegnamento,
                                la quale ha trovato in tale progetto un modo per iniziare ad avvicinarsi a tale mondo"</p>
                        </div>
                    </div>
                </div>
                <!-- Fine del riquadro CEO -->

                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="right-image">
                    <img src="../static/indexStaticFile/assets/images/about-right-dec.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Contatti</h4>
                    <p>Via Giovanni Paolo II, 132, 84084 Fisciano SA</p>
                    <p>3347703788</p>
                    <p>a.digiorgio8@studenti.unisa.it</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Chi siamo</h4>
                    <ul>
                        <li><a href="#top">Home</a></li>
                        <li><a href="#services">Servizi</a></li>
                        <li><a href="#about">Chi siamo</a></li>
                        <li><a href="#contact">Contatti</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h4>Sul nostro Progetto</h4>
                    <div class="logo">
                        <img src="../static/indexStaticFile/assets/images/logo.png" alt="">
                    </div>
                    <p>Tool di supporto nella fase "In-Class" per docenti e studenti che
                        sperimentano la Flipped-Classroom tramite la sua tecnologia basata sull'IA</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>FlipInClassIA - Author: <a href="https://www.linkedin.com/in/antoniodg30/" target="_blank"
                                                  title="Author">AntonioDG30</a> Design: <a
                            href="https://templatemo.com/" target="_blank" title="css templates">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Scripts -->
<script src="../static/indexStaticFile/vendor/jquery/jquery.min.js"></script>
<script src="../static/indexStaticFile/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/indexStaticFile/assets/js/owl-carousel.js"></script>
<script src="../static/indexStaticFile/assets/js/animation.js"></script>
<script src="../static/indexStaticFile/assets/js/imagesloaded.js"></script>
<script src="../static/indexStaticFile/assets/js/popup.js"></script>
<script src="../static/indexStaticFile/assets/js/custom.js"></script>
</body>
</html>